[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "psHarmonize"]
	path = psHarmonize
	url = https://github.com/nudacc/psharmonize
